body {
  background-color: pink; 
  font-family: arial; 
}
.pictures {
  display: flex;
  margin: 10px;
  gap: 1vw;
}
.LaterneBild {
  hight: 3vh;
  width: auto; 
}
.BusBild {
  hight: 3vh; 
  width: auto; 
}
