body {
   background-color: pink;
   font-family: arial;
}

.pictures {
   display: flex; 
   margin: 10px;
   gap: 1vw;
}

.LaterneBild {
   height: 3vh; 
   width: auto;
}

.BusBild {
   height: 3vh; 
   width: auto;
}
